{% extends 'base.html.twig' %}
{% block title %}Faire un don{% endblock %}

{% block body %}
    <section class="font-bold bg-white text-em-green">
        <div class="max-w-screen-xl px-4 py-16 mx-auto text-center sm:py-24 lg:py-32">
            
            <h1 class="mb-4 text-4xl leading-none tracking-tight font-agrandir-bold md:text-5xl lg:text-7xl ">
             Sais-tu que chaque élan de     
               <span class="text-em-greenest"> générosité</span> est comme une
               <span class="text-em-yellow">étoile </span>  🌟 qui illumine l'obscurité ? 
            </h1>
            <p class="mb-8 text-xl font-normal font-virgilgs lg:text-2xl sm:px-16 xl:px-48 text-em-pink">
                Ta contribution, qu'elle soit grande ou petite, est la pierre précieuse qui enrichit notre mission. 
            </p>
            
        </div>
    </section>

    <!-- component -->
    <section class="bg-em-white font-agrandir-normal text-em-green">
        <div class="max-w-screen-xl text-xl px-4 py-16 mx-auto sm:py-24 lg:py-32 ">
            
            <h2 class="mb-4  leading-none tracking-tight font-agrandir-bold md:text-2xl lg:text-3xl ">
             Pourquoi faire un don à Betsaleel ? 
            </h2>
            <p>
                Chez Betsaleel, nous avons la conviction que la transparence et l'efficacité sont essentielles pour gagner et mériter votre confiance. C'est pourquoi nous nous engageons à respecter les principes suivants :
            </p>

            <ol class="space-y-4  list-decimal list-inside mt-4">
                <li>
                    Transparence :
                    <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li>
                            <span class="font-bold"> Comptes audités </span> : Nos comptes sont publiés et validés chaque année par un expert-comptable indépendant.
                        </li>
                        <li>
                            <span class="font-bold"> Utilisation des dons </span> :  Nous vous informons régulièrement de l'utilisation de vos dons grâce à des rapports d'activité et des newsletters.
                        </li>
                        <li>
                            <span class="font-bold"> Accès aux informations </span> :  Vous pouvez consulter nos statuts, nos bilans et nos rapports d'activité sur notre site internet.
                        </li>
                        
                    </ul>
                </li>
                <li>
                    Impact 
                    <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li>
                            <span class="font-bold"> Actions concrètes </span> :  Nous soutenons des projets concrets et mesurables qui ont un impact positif sur la vie des enfants.
                        </li>
                        <li>
                            <span class="font-bold"> Evaluation rigoureuse </span> :  Nous soutenons des projets concrets et mesurables qui ont un impact positif sur la vie des enfants.
                        </li>
                    </ul>
                </li>
            </ol>

            <p class="font-bold my-5">
                Bien que nous ne soyons pas labellisés par une organisation externe, nous sommes attachés à ces principes de transparence et d'efficacité.
            </p>

            <a href="#" class="text-blue-400 hover:text-blue-600 hover:font-bold transition ease-in-out delay-150">Faites un don aujourd'hui</a>


            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <h2 class="mb-4  leading-none tracking-tight font-agrandir-bold md:text-2xl lg:text-3xl ">
             A quoi sert votre don à Betsaleel ? 
            </h2>
            <p>
                Votre générosité permet à Betsaleel d'agir concrètement pour l'avenir des enfants.
                
            </p>

            <ol class="space-y-4  list-decimal list-inside mt-4">
                <li>
                    Grâce à vos dons, nous pouvons :
                    <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li>
                            <span class="font-bold"> Soutenir des projets d'éducation </span>  pour donner à tous les enfants la chance d'apprendre et de s'épanouir.
                        </li>
                        <li>
                            <span class="font-bold"> Protéger les enfants les plus vulnérables </span> en leur apportant des soins médicaux, de la nourriture et un abri.
                        </li>
                        <li>
                            <span class="font-bold"> Défendre les droits de l'enfant </span> en sensibilisant et en mobilisant l'opinion publique.
                        </li>
                        
                    </ul>
                </li>
                
            </ol>

            <p class="font-bold my-5">
                Chaque don, quelle que soit sa taille, nous aide à faire la différence.
            </p>
            <p class="my-5">
                Voici quelques exemples concrets de ce que vos dons permettent de réaliser :
            </p>

            <ol class="space-y-4  list-decimal list-inside mt-4">
                <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                    <li>
                        <span class="font-bold"> 10€ </span>  peut financer un kit scolaire pour un enfant défavorisé.
                    </li>
                    <li>
                        <span class="font-bold"> 50€ </span> peut permettre à une mère d'accéder à des soins de santé essentiels pour son enfant.
                    </li>
                    <li>
                        <span class="font-bold"> 100€ </span> peut contribuer à la construction d'un puits d'eau potable dans un village.
                    </li>
                    
                </ul>
                
            </ol>

            <p class="font-bold my-5">
                Faire un don à Betsaleel, c'est investir dans l'avenir des enfants et contribuer à bâtir un monde meilleur.
                Merci de votre générosité !
            </p>

            <a href="#" class="text-blue-400 hover:text-blue-600 hover:font-bold transition ease-in-out delay-150">Faites un don aujourd'hui</a>


            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

            <h2 class="mb-4  leading-none tracking-tight font-agrandir-bold md:text-2xl lg:text-3xl ">
                Découvrez les différentes façons de faire un don à Betsaleel
            </h2>
            <p>
                Chez Betsaleel, nous vous proposons plusieurs moyens simples et sécurisés pour faire un don et soutenir nos actions en faveur des enfants.
            </p>

            <ol class="space-y-4  list-decimal list-inside mt-4">
                <li>
                    En ligne :
                    <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li>
                            <span class="font-bold"> http://betsalel.com/ </span> : Faites un don sécurisé en quelques clics grâce à notre plateforme de paiement en ligne.
                        </li>
                        <li>
                            <span class="font-bold"> PayPal </span> :  Vous pouvez également faire un don via notre compte PayPal : https://www.paypal.com/us/signin
                        </li>
                        
                    </ul>
                </li>
                <li>
                    Par courrier : 
                    <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li>
                            <span class="font-bold"> Actions concrètes </span> :  Nous soutenons des projets concrets et mesurables qui ont un impact positif sur la vie des enfants.
                        </li>
                        <li>
                            <span class="font-bold"> Evaluation rigoureuse </span> :  Nous soutenons des projets concrets et mesurables qui ont un impact positif sur la vie des enfants.
                        </li>
                    </ul>
                </li>
            </ol>

            <p class="font-bold my-5">
                Faire un don à Betsaleel, c'est investir dans l'avenir des enfants et contribuer à bâtir un monde meilleur.
                Merci de votre générosité !
            </p>

            <a href="#" class="text-blue-400 hover:text-blue-600 hover:font-bold transition ease-in-out delay-150">Faites un don aujourd'hui</a>


        </div>
    </section>



    
{% endblock %}